<!DOCTYPE html>
<html ng-app="inventory">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Shop Inventory</title>
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title">
</head>

<body>
    <div class="main-container">
        <header ngcontroller="HeaderController">
            <h1>Shop Inventory</h1>
            <form class="login" ng-submit="submitLogin()" method="post">
              <label for="login">Login</label>
              <input ng-model="login.name" type="text" name="name" placeholder="User Name">
              <input type="submit" value="Login">
            </form>
            <div class="logged-in" ng-model="logged.name">{{logged.name}}</div>
            <div class="logged-in" ng-model="logged.time">{{logged.time | date:'MMM d - H:mm a'}}</div>
        </header>
        <main ng-controller="InventoryController">
            <div class="entry-form-container">
                <form class="enter-inventory" name="enter-inventory" ng-submit="submit(newItem); enter-inventory.$setPristine()">
                    <ul>
                        <li>
                            <h3 class="input-field-prompts">Product Name:</h3>
                            <input type="text" class="input-fields" ng-required="true" ng-model="newItem.name">
                        </li>
                        <li>
                            <h3 class="input-field-prompts">Product Price:</h3>
                            <input type="number" class="input-fields" ng-required="true" min="0" ng-model="newItem.price">
                        </li>
                        <li>
                            <h3 class="input-field-prompts">Product Quantity:</h3>
                            <input type="number" class="input-fields" ng-required="true"  min="0" ng-model="newItem.quantity">
                        </li>
                        <li>
                            <h3 class="input-field-prompts">Product Color:</h3>
                            <input type="text" class="input-fields" ng-required="true"  ng-minlength="1" ng-model="newItem.color">
                        </li>
                        <li>
                            <h3 class="input-field-prompts">Product Discount:</h3>
                            <input type="number"  min="0" class="input-fields" ng-model="newItem.discount">
                        </li>
                        <li><input type="submit" value="Add Item" ng-disabled="enter-inventory.$invalid"></li>
                    </ul>
                </form>
            </div>
            <table>
                <tr>
                    <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a></th>
                    <th><a href="" ng-click="orderByField='adjustedPrice'; reverseSort = !reverseSort">Price w/tax</a></th>
                    <th><a href="" ng-click="orderByField='quantity'; reverseSort = !reverseSort">Quantity</a></th>
                    <th><a href="" ng-click="orderByField='color'; reverseSort = !reverseSort">Color</a></th>
                </tr>
                <tr ng-repeat="item in allItems | orderBy:orderByField:reverseSort">
                    <td ng-model="item.name" data-id="{{item.id}}">{{item.name}}</td>
                    <td>{{adjustedPrice(item) | currency}}
                        <img src="{{saleTag(item)}}">
                    </td>
                    <td ng-model="item.quantity">
                        {{item.quantity}}
                        <!-- EPIC: unsolved; error returns "not valid number" -->
                        <!-- <input class="manual-quantity-input"
                        type="number"
                        name="line-quantity"
                        ng-change=""
                        value="{{item.quantity}}"
                        ng-model="item.quantity"> -->
                    </td>
                    <td ng-model="item.color" style="color: {{item.color}}">{{item.color}}</td>
                </tr>
            </table>
        </main>
        <!-- <footer>
            <input id="region-select" type="button" name="region-select" value="Region">
            <div class="selected-region">{{region}}</div>
        </footer> -->
    </div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controllers/inventory.controller.js"></script>
    <script src="./js/controllers/header.controller.js"></script>
    <script src="./js/services/inventory.service.js"></script>
    <script src="./js/services/user.service.js"></script>
</body>

</html>
